    <div class='container'>

      <div class='row top-buffer'>
        <div class='col-md-10 col-md-offset-1'>
          <h1>
            Afternoon Fjord
          </h1>

          <h2>
            <a href="/information" id='link-web-developer'>Information</a> /
            <a href="/polls" id="link-photography">Polls</a> /
            <a href="/news" id='link-about'>News</a></h2>
          
          <div id='nav-web-developer' class='hidden'>

        </div>
    </div>
    </div>