    <div class='container'>

      <div class='row top-buffer'>
        <div class='col-md-10 col-md-offset-1'>
          <h1>
            Afternoon Fjord
          </h1>

        <div id="list1">
           <ul>
              <li><a href="/information">Information</a></li>
              <li><a href="/polls">Polls</a></li>
              <li><a href="/news">News</a></li>
              <li><a href="/laws">Laws</a></li>
           </ul>
        </div>
          
          <div id='nav-web-developer' class='hidden'>

        </div>
    </div>
    </div>