<html>
<h1> INFORMATION </h1>
<p>Electoral College is derived from popular national vote on November 4th.  When voting 

for a candidate, a citizen voter is in fact voting for the electors, i.e. the state’s 

representatives in the Electoral College, who have pledged to vote for a certain candidate.  

Most states use a “winner takes all” system whereby the nominee who receives the most 

votes are given the full number of designated electoral spots.  These spots are occupied 

by electors who will vote for the ticket in question.  In Alabama, for example, there are 

nine total electoral spots- those who fill these spots are determined by the popular vote. 

The names of the Electors do not appear on the ballot. <br><br>

<b>EXAMPLE- </b><br><br>

In the 2012 Presidential Election, Alabama’s nine electoral spots were given to nine 

republican electors, as the republican electors received more votes than the democratic 

electors.  When voting during the National Election, a citizen is not voting for a 

candidate; rather, he/she votes for the group of electors who will in turn vote for that 

candidate.  <br><br>

<b> ALABAMA REPUBLICAN PARTY Electors pledged to Mitt Romney and Paul Ryan: </b>
<ul>
	<li>Sen. James T. Waggoner received 1,255,925 votes </li>

<li> Will Sellers received 1,255,925 votes </li>

<li>Terry Lathan received 1,255,925 votes </li>

<li>Susan Neuwien received 1,255,925 votes </li>

<li>Robert Fincher received 1,255,925 votes </li>

<li>Lynn Robinson received 1,255,925 votes </li>

<li>James Elbert Peters received 1,255,925 votes </li>

<li>Edward S. Allen received 1,255,925 votes </li>

<li>Robert A. Cusanelli received 1,255,925 votes</li>
</ul>


<b> The democratic counterparts received fewer votes: </b>
<ul>
<li> Percy Bernard Gil received 795,696 votes </li>

<li> Gregory Terence Graves received 795,696 votes </li>

<li> Randy Kelley received 795,696 votes </li>

<li> Henry Mark Kennedy received 795,696 votes </li>

<li> Janet Thomas May received 795,696 votes </li>

<li> Joe Louis Reed received 795,696 votes </li>

<li> Darryl R. Sinkfield received 795,696 votes </li>

<li> James Box Spearman received 795,696 votes </li>

<li> Nancy Lillian Worley received 795,696 votes </li>

</ul>
</p>

<a href="/img/faithless.png">Link to map of 'faithless electors'</a>

</html>