<html>
<body>
<div id="list2">
   <ol>
      <li><p><em>Alabama</em> is a country in ...</p></li>
      <li><p><em>Alaska</em> is a federal constitutional ...</p></li>
      <li><p><em>California</em> officially known as the Republic ...</p></li>
      <li><p><em>Colorado</em> of Great Britain and ...</p></li>
      <li><p><em>Connecticut</em> of Great Britain and ...</p></li>
      <li><p><em>District of Columbia</em> of Great Britain and ...</p></li>
   </ol>
</div>
</body>
</html>