<html>
<link href="stylesheets/style.css" rel="stylesheet">
<h1> NEWS </h1>
<ul class = "no_bullet">
{{#each articles}}
<li class = "art"><a href={{web_url}}>{{headline.main}}</a>
<br>
<p> {{pub_date}} </p> 
<img src="/img/NYT.png" height="42" width = "42"></li><br>
{{/each}}
</ul>
</html>