body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #afbfdf;
}
h1{
	text-align: center;
}
h2{
	text-align:center;
	color: #000000;
}
a {
  color: #000000;
}

li {
	text-align:center;
}

ul {
	 list-style-type: none;
}

p {
	text-align:center;
	font-size: 50%
}

.info {
	text-align: left;
}
