body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #afbfdf;
}
h1{
	text-align: center;
}
h2{
	text-align:center;
	color: #000000;
}
a {
  color: #000000;
}

